{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1 class=" inline-block mb-8 py-4 px-6 bg-cyan-600 text-white rounded-xl hover:bg-cyan-900">{{ title }}</h1>

    {% if request.user.links.all.count > request.user.plan.max_num_links %}
        <div class="p-6 bg-rose-600 text-white rounded-xl">
            Maximum Links Reached
        </div>
    {% else %}
        <form method="post" action=".">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="mt-4 py-4 px-6 bg-cyan-500 text-white rounded-xl hover:bg-cyan-900">Submit</button>
        </form>
    {% endif %}
{% endblock %}